/*  your css code here. If applicable */
header{
	background-color: #011e29;
	text-align:center;
	padding:10px
}
header h2{
	color:white;
	
}
body{
	background-color: #f5f5f5;
}
#right img{
	border-radius
	background-color: #f5f5f5;
	padding:30pxpx;
	width:25%;
	
}
